<template>
  <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3">
        <!--First column-->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <hr class="w-100 clearfix d-md-none">

        <!--Second column-->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">TOOLS</h6>
          <p><a target="_blank" href="https://projects.spring.io/spring-boot/">Spring Boot</a></p>
          <p><a target="_blank" href="https://vuejs.org/">Vue.Js</a></p>
          <p><a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></p>
          <p><a target="_blank" href="https://www.jetbrains.com/idea/">IntelliJ</a></p>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <!--Third column-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p><a href="#!">Your Account</a></p>
          <p><a href="#!">Become an Affiliate</a></p>
          <p><a href="#!">Shipping Rates</a></p>
          <p><a href="#!">Help</a></p>
        </div>
        <hr class="w-100 clearfix d-md-none">

        <!--Fourth column-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">IEPSCF-Uccle Contact</h6>
          <p><i class="fa fa-home mr-3"></i> 95 Rue Gatti de Gamond - 1180 Uccle</p>
          <p><i class="fa fa-phone mr-3"></i> Tel: 02/33 21 166</p>
          <p><i class="fa fa-print mr-3"></i> Fax: 02/33 21 087</p>
        </div>
      </div>

      <hr>

      <div class="row py-3 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-8 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left grey-text">© 2018 Copyright: <a href="https://mdbootstrap.com/material-design-for-bootstrap/"><strong> MDBootstrap.com</strong></a></p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 col-lg-4 ml-lg-0">

          <!--Social buttons-->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
