<template>
  <b-navbar toggleable sticky type="light" variant="light">
    <b-navbar-toggle target="nav_text_collapse"></b-navbar-toggle>
    <b-navbar-brand to="/" activeClass="active">Home</b-navbar-brand>
    <b-collapse is-nav id="nav_text_collapse">
      <b-navbar-nav>
              <b-nav-item to="/products" activeClass="active">Men's Apparel</b-nav-item>
              <b-nav-item to="/products" activeClass="active">Women's Apparel</b-nav-item>
              <b-nav-item to="/products" activeClass="active">Equipment</b-nav-item>
              <b-nav-item to="/adminPage" activeClass="active">Admin Page</b-nav-item>

              <b-nav-item-dropdown right>
                <!-- Using button-content slot -->
                <template slot="button-content">
                  <em>User</em>
                </template>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#">Signout</b-dropdown-item>
              </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
  export default {
    data() {
      return {}
    },
    methods: {}
  }
</script>
