<template>
  <div id="app">
    <app-header></app-header>
        <router-view class="col-xs-12"></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import Vue from 'vue'
  import BootstrapVue from 'bootstrap-vue'
  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'

  import Header from './components/menu/Header'
  import Footer from './components/menu/Footer'

  Vue.use(BootstrapVue);

  export default {
    components: {
      //CamelCase appHeader is translated to app-header
      appHeader: Header,
      appFooter: Footer
    }
  }
</script>

<style>
  body {
    padding: 50px;
    padding-top: 30px;
    background-color: rgba(127, 127, 127, 0.21);
  }
</style>
