<template>
  <div class="row">
    <div class="sidebar col-md-2">
      <p>Blablablala</p>
    </div>
    <div class="col-md-8">
      <b-card-group deck class="col-xs-6 mb-3">
        <b-card v-for="product in products"
                :title="product.name"
                :img-src="product.imageEmp"
                img-top
                border-variant="dark"
                bg-variant="dark"
                body-bg-variant="light"
                body-border-variant="dark"
                style="max-width: 15rem; max-height: 15rem;"
                class="mb-2">
          <b-button href="#" right>See</b-button>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        products: []
      }
    },
    methods: {},
    created() {
      this.products.push({name: 'Veste Adidas', price: 29, rating: 4, imageEmp: 'http://images2.confidentielles.fr/dl/base_photos/8/2/7/0/19/198270.jpg' },
                         {name: 'Veste Nike', price: 50, rating: 2, imageEmp: 'https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/w52fuuyicirgdb9jopxs/veste-sb-anorak-pour-VrMbQ2.jpg' })

    }
  }
</script>

